<header class="site-header site-page-header">
  <div itemscope itemtype="http://schema.org/Person" class="site-head-content inner">
    <h2 itemprop="name" class="blog-title"><a href="{{@blog.url}}" itemprop="url">{{@blog.title}}</a></h2>
    <h2 itemprop="description" class="blog-description">{{@blog.description}}</h2>
  </div>
</header>