{{!< default}}

<header class="site-header site-page-header">
  <div itemscope itemtype="http://schema.org/Person" class="site-head-content inner">
    <h1 itemprop="name" class="blog-title"><a href="{{@blog.url}}" itemprop="url">{{@blog.title}}</a></h1>
    <h2 itemprop="description" class="blog-description">Web Developer, Chilehead, Beer and Wing Enthusiast</h2>
  </div>
</header>

{{navigation}}

<main role="main" class="content">
  {{> "loop"}}
</main>