// module.styl

.blog-title
  margin-top 0
  margin-bottom .3em


.blog-description
  font .9em sans-font-stack
  color #888
  text-indent 0
  letter-spacing 0
  @media (min-width 35.75em)
    font 1em sans-font-stack
    color #888
  @media (min-width 43.75em)
    margin-bottom 0.83em
    font-size 1.1em

.nav-toggle
  position absolute
  top 16px
  right 16px
  padding .5em
  font .9em sans-font-stack
  border 1px solid #fff
  background-color #e0dbd2
  cursor pointer
  @media (min-width 43.75em)
    display none

.nav-inner
  list-style none
  margin 0 auto
  padding 0
  font .9em sans-font-stack
  overflow auto
  transition max-height ease 0.2s

.site-navigation a
  float left
  display block
  text-decoration none
  width 50%
  text-align center
  transition color ease 0.2s
  transition background-color ease 0.2s
  @media (min-width 43.75em)
    width auto
    padding .8em 1em
    text-align left

.site-navigation a:hover
  background-color #e0dbd2
  color grey

.site-navigation a.social
  float right
  width 25%
  text-align center
  @media (min-width 43.75em)
    width auto
    text-align left

.nav-rss
  color #ff6600 !important
.nav-google-plus
  color #dd4b39 !important
.nav-github
  color #333 !important
.nav-twitter
  color #55acee !important
.nav-facebook
  color #3b5998 !important
.nav-linkedin
  color #0977B5 !important

.page-title
  margin-bottom .5em
  padding-bottom .5em
  border-bottom 1px solid #fff

.list-post
  margin-bottom 4em
  @media (min-width 43.75em)
    margin-bottom 6em

.loop-header
  padding-bottom 0.75em

.post-tags
  list-style none
  display block
  overflow auto
  padding 0 0 .8em

.post-tags li
  float left
  margin-right .1em
  text-decoration none

.post-tags li a
  float left
  font .8em sans-font-stack
  margin-right .5em
  padding 0 .5em
  background-color #DFE9EE
  border 1px solid #81BFDD
  text-decoration none

.post-title
  margin-bottom .4em

.post-meta
  display block
  padding-bottom .4em
  font .8em sans-font-stack
  color #888
  @media (min-width 43.75em)
    font-size 1em

.post-tag
  font .8em sans-font-stack
  padding 0 .5em
  background-color #DFE9EE
  border 1px solid #81BFDD

.post-excerpt > *:nth-child(n+3):after
  content '..'

.post-excerpt > *:nth-child(n+4)
  display none

.post-body pre.language-javascript {
  margin 0px -20px
  border-radius 0
  padding 1em 20px 1.3em

  @media (min-width 43.75em)
    margin 0px -128px
    padding 1em 128px 1.3em
}

.share
  margin-bottom 1em
  border-top 1px solid rgba(0, 0, 0, 0.1)

.share h4
  margin-bottom .8em

.share a
  text-decoration none
  padding 0 .5em

.about-main
  padding-right 1em

.about-stats
  padding-left 1em
  border-left 1px solid rgba(0, 0, 0, 0.1)

.author
  margin-bottom 1em
  border-top 1px solid rgba(0, 0, 0, 0.1)

.author h4, .about-stats h4
  margin-bottom .4em

.author p, .about-stats p
  font-size .9em

.author img, .about-stats img
  margin-top 1em
  border-radius 10% 30%
  border 5px solid #fff

.author-image
  padding-right 1em

.read-next
  border-top 1px solid rgba(0, 0, 0, 0.1)

.read-next a
  text-decoration: none;

.read-next h2
  margin-top 0

.read-next a h2:hover
  color light-blue

.read-next-label
  font 1em sans-font-stack
  color #888

.prev-post
  padding-right 0.5em

.next-post
  padding-left 0.5em

.about-image
  border-radius 10% 30%
  border 5px solid #fff
  @media (min-width 43.75em)
    float right
    margin 0 0 1em 1em

.pagination
  margin 0 auto 2em
  text-align center
  overflow auto

.pagination a
  color #9EABB3
  transition color ease 0.2s

.pagination a:hover
  color light-blue

.older-posts,
.newer-posts
  position absolute
  text-decoration none

.older-posts
  right 0

.newer-posts
  left 0

.button-default
  background #E0DBD2
  border 1px solid #fff
  color grey
  transition color ease 0.2s
  transition background ease 0.2s

.button-default:hover
  background #eae7e1
  color light-blue