/* ==========================================================================
	 Table of Contents
	 ========================================================================== */

/*
      0. Normalize
      1. Base
      2. Layout
      3. Module
      4. State
      5. Utilities

      Colors:
        off-white:  #F5F2EB;
        dark blue:  #435A66;
        light blue: #88A6AF;
        tan:        #D9CDB8;
        grey:       #424342;
 */

@import variables
@import mixins
@import breakpoints

/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */

@import normalize

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

/* ==========================================================================
   1. BASE - defaults
   ========================================================================== */

@import base

/* ==========================================================================
   2. LAYOUT - page sections
   ========================================================================== */

@import layout

/* ==========================================================================
   3. MODULE - reusable site elements
   ========================================================================== */

@import module

/* ==========================================================================
   4. STATE - layouts or modules in various states
   ========================================================================== */

@import state

/* ==========================================================================
   5. UTILITIES
   ========================================================================== */

@import utilities