// state.styl

.site-navigation a.active
  background-color #e0dbd2
  color grey

.pagination li.active a
  color #000

.pagination li.disabled
  display none

.button-default.selected
  background-color #D7CEC0
  border 1px solid rgba(0,0,0,0.4)