// variables.styl

off-white   = #F5F2EB
dark-blue   = #435A66
light-blue  = #88A6AF
tan         = #D9CDB8
grey        = #424342

serif-font-stack  = "ff-meta-serif-web-pro", serif
sans-font-stack   = "neuzeit-grotesk", sans-serif